interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: GET
    uri: https://developer-apis.awair.is/v1/users/self/devices/awair-r2/5709/air-data/latest?fahrenheit=false
  response:
    body:
      string: '{"data":[{"timestamp":"2020-04-10T16:41:57.771Z","score":97.0,"sensors":[{"comp":"temp","value":18.829999923706055},{"comp":"humid","value":50.52000045776367},{"comp":"co2","value":431.0},{"comp":"voc","value":57.0},{"comp":"pm25","value":2.0}],"indices":[{"comp":"temp","value":0.0},{"comp":"humid","value":1.0},{"comp":"co2","value":0.0},{"comp":"voc","value":0.0},{"comp":"pm25","value":0.0}]}]}'
    headers:
      content-type: application/json
    status:
      code: 200
      message: OK
    url: https://developer-apis.awair.is/v1/users/self/devices/awair-r2/5709/air-data/latest?fahrenheit=false
version: 1
