interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: POST
    uri: https://developer-apis.awair.is/graphql
  response:
    body:
      string: '{"data":{"Devices":{"devices":[{"uuid":"awair_24947","deviceType":"awair","deviceId":"24947","name":"Living
        Room","preference":"GENERAL","macAddress":"70886B104941","room":{"id":"f2b719c3-1ca9-4451-abc1-4a54f4d9ab1c","name":"Living
        Room","kind":"LIVING_ROOM","Space":{"id":"53ce20d1-0088-4571-a6b2-974b90778c36","kind":"HOME","location":{"name":"Chicago,
        IL","timezone":"","latitude":0.0,"longitude":0.0}}}}]}}}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://developer-apis.awair.is/graphql
version: 1
