interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: GET
    uri: https://developer-apis.awair.is/v1/users/self/devices/awair/24947/air-data/15-min-avg?&from=2020-04-08T22:59:29.884Z
  response:
    body:
      string: '{"data":[{"timestamp":"2020-04-09T04:00:00.000Z","score":88.0,"sensors":[{"comp":"temp","value":24.499499988555907},{"comp":"humid","value":47.722124910354616},{"comp":"co2","value":788.7375},{"comp":"voc","value":524.525},{"comp":"dust","value":13.678749978542328}],"indices":[{"comp":"temp","value":0.0},{"comp":"humid","value":0.0},{"comp":"co2","value":0.0},{"comp":"voc","value":1.0},{"comp":"dust","value":1.0}]},{"timestamp":"2020-04-09T03:45:00.000Z","score":88.0,"sensors":[{"comp":"temp","value":24.44022231631809},{"comp":"humid","value":48.02877765231662},{"comp":"co2","value":797.2666666666667},{"comp":"voc","value":534.5111111111111},{"comp":"dust","value":13.591111108991836}],"indices":[{"comp":"temp","value":0.0},{"comp":"humid","value":0.0},{"comp":"co2","[...]
