interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: POST
    uri: https://developer-apis.awair.is/graphql
  response:
    body:
      string: '{"data":{"AirData15Minute":{"airDataSeq":[{"timestamp":"2020-04-08T23:00:00.000Z","score":84.70786516853933,"sensors":[{"component":"TEMP","value":24.64910108587715},{"component":"HUMID","value":47.90314586510819},{"component":"CO2","value":914.7640449438202},{"component":"VOC","value":744.438202247191},{"component":"DUST","value":14.150561804182074}],"indices":[{"component":"TEMP","value":0.0},{"component":"HUMID","value":0.0},{"component":"CO2","value":0.0},{"component":"VOC","value":1.0},{"component":"DUST","value":1.0}]},{"timestamp":"2020-04-08T23:15:00.000Z","score":84.70175438596492,"sensors":[{"component":"TEMP","value":24.686842299344246},{"component":"HUMID","value":48.07333333868729},{"component":"CO2","value":897.7017543859649},{"component":"VOC","value":734.5087719298245},{"component":"DUST","value":14.340350870500531}],"indices":[{"component":"TEMP","value":0.0},{"component":"HUMID","value":0.0},{"component":"CO2","value":0.0},{"component":"VOC","value":1.0},{"component":"DUST","value":1.0}]}]}}}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://developer-apis.awair.is/graphql
version: 1
