interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: GET
    uri: https://developer-apis.awair.is/v1/users/self/devices/awair/24947/air-data/5-min-avg?from_date=2020-04-08+22:59:29
  response:
    body:
      string: '{"data":[{"timestamp":"2020-04-09T23:15:00.000Z","score":89.8695652173913,"sensors":[{"comp":"temp","value":23.660434805828594},{"comp":"humid","value":42.65521721217943},{"comp":"co2","value":761.9565217391304},{"comp":"voc","value":436.4782608695652},{"comp":"dust","value":13.234782592110012}],"indices":[{"comp":"temp","value":0.0},{"comp":"humid","value":0.0},{"comp":"co2","value":0.0},{"comp":"voc","value":1.0},{"comp":"dust","value":1.0}]},{"timestamp":"2020-04-09T23:10:00.000Z","score":89.37931034482759,"sensors":[{"comp":"temp","value":23.670689747251313},{"comp":"humid","value":42.674482937516835},{"comp":"co2","value":773.8275862068965},{"comp":"voc","value":439.6896551724138},{"comp":"dust","value":13.51034480127795}],"indices":[{"comp":"temp","value":0.0},{"comp":"humid","value":0.0},{[...]
