interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: POST
    uri: https://developer-apis.awair.is/graphql
  response:
    body:
      string: '{"data":{"AirData5Minute":{"airDataSeq":[{"timestamp":"2020-04-08T23:00:00.000Z","score":84.76666666666667,"sensors":[{"component":"TEMP","value":24.666666666666668},{"component":"HUMID","value":47.838666407267254},{"component":"CO2","value":909.5333333333333},{"component":"VOC","value":751.2666666666667},{"component":"DUST","value":13.813333320617676}],"indices":[{"component":"TEMP","value":0.0},{"component":"HUMID","value":0.0},{"component":"CO2","value":0.0},{"component":"VOC","value":1.0},{"component":"DUST","value":1.0}]},{"timestamp":"2020-04-08T23:05:00.000Z","score":84.8,"sensors":[{"component":"TEMP","value":24.657333119710287},{"component":"HUMID","value":47.9153330485026},{"component":"CO2","value":917.9},{"component":"VOC","value":744.4666666666667},{"component":"DUST","value":14.043333339691163}],"indices":[{"component":"TEMP","value":0.0},{[...]
