interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: GET
    uri: https://developer-apis.awair.is/v1/users/self/devices/awair/24947/air-data/5-min-avg?&from=2020-04-08t22:59:29.884z
  response:
    body:
      string: '{"data":[{"timestamp":"2020-04-09T04:10:00.000Z","score":88.0,"sensors":[{"comp":"temp","value":24.443000411987306},{"comp":"humid","value":47.84300003051758},{"comp":"co2","value":785.35},{"comp":"voc","value":525.7},{"comp":"dust","value":13.67999997138977}],"indices":[{"comp":"temp","value":0.0},{"comp":"humid","value":0.0},{"comp":"co2","value":0.0},{"comp":"voc","value":1.0},{"comp":"dust","value":1.0}]},{"timestamp":"2020-04-09T04:05:00.000Z","score":88.0,"sensors":[{"comp":"temp","value":24.487333234151205},{"comp":"humid","value":47.757333501180014},{"comp":"co2","value":788.4666666666667},{"comp":"voc","value":525.0},{"comp":"dust","value":13.633333301544189}],"indices":[{"comp":"temp","value":0.0},{"comp":"humid","value":0.0},{"comp":"co2","value":0.0[...]
