interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: GET
    uri: https://developer-apis.awair.is/v1/users/self/devices/awair/24947/air-data/5-min-avg?from_date=2020-04-10+10:08:31.002883
  response:
    body:
      string: '{"data":[{"timestamp":"2020-04-10T15:35:00.000Z","score":88.0,"sensors":[{"comp":"temp","value":21.777143478393555},{"comp":"humid","value":41.43999953497024},{"comp":"co2","value":647.8571428571429},{"comp":"voc","value":366.6666666666667},{"comp":"dust","value":12.86190482548305}],"indices":[{"comp":"temp","value":-1.0},{"comp":"humid","value":0.0},{"comp":"co2","value":0.0},{"comp":"voc","value":1.0},{"comp":"dust","value":1.0}]},{"timestamp":"2020-04-10T15:30:00.000Z","score":88.0,"sensors":[{"comp":"temp","value":21.802333450317384},{"comp":"humid","value":41.358333587646484},{"comp":"co2","value":635.5},{"comp":"voc","value":365.2},{"comp":"dust","value":12.943333307902018}],"indices":[{"comp":"temp","value":-1.0},{"comp":"humid","value":0.0},{"comp":"co2","value":0.0},{"comp":[...]
