interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: GET
    uri: https://developer-apis.awair.is/v1/users/self/devices/awair-glow/1405/air-data/latest?fahrenheit=false
  response:
    body:
      string: '{"data":[{"timestamp":"2020-04-10T16:46:15.486Z","score":93.0,"sensors":[{"comp":"temp","value":21.93000030517578},{"comp":"humid","value":42.31999969482422},{"comp":"co2","value":429.0},{"comp":"voc","value":288.0}],"indices":[{"comp":"temp","value":-1.0},{"comp":"humid","value":0.0},{"comp":"co2","value":0.0},{"comp":"voc","value":0.0}]}]}'
    headers:
      content-type: application/json
    status:
      code: 200
      message: OK
    url: https://developer-apis.awair.is/v1/users/self/devices/awair-glow/1405/air-data/latest?fahrenheit=false
version: 1
