interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: POST
    uri: https://developer-apis.awair.is/graphql
  response:
    body:
      string: '{"data":{"AirDataLatest":{"airDataSeq":[{"timestamp":"2020-04-08T22:59:29.884Z","score":84.0,"sensors":[{"component":"TEMP","value":24.75},{"component":"HUMID","value":47.75},{"component":"CO2","value":918.0},{"component":"VOC","value":755.0},{"component":"DUST","value":14.800000190734863}],"indices":[{"component":"TEMP","value":0.0},{"component":"HUMID","value":0.0},{"component":"CO2","value":0.0},{"component":"VOC","value":1.0},{"component":"DUST","value":1.0}]}]}}}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://developer-apis.awair.is/graphql
version: 1
