interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: GET
    uri: https://developer-apis.awair.is/v1/users/self/devices/awair/24947/air-data/latest
  response:
    body:
      string: '{"data":[{"timestamp":"2020-04-09T23:18:40.317Z","score":90.0,"sensors":[{"comp":"temp","value":23.59000015258789},{"comp":"humid","value":42.75},{"comp":"co2","value":761.0},{"comp":"voc","value":441.0},{"comp":"dust","value":13.300000190734863}],"indices":[{"comp":"temp","value":0.0},{"comp":"humid","value":0.0},{"comp":"co2","value":0.0},{"comp":"voc","value":1.0},{"comp":"dust","value":1.0}]}]}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://developer-apis.awair.is/v1/users/self/devices/awair/24947/air-data/latest
version: 1
