interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: GET
    uri: https://developer-apis.awair.is/v1/users/self/devices/awair/24947/air-data/raw?&from=2020-04-08t22:59:29.884z
  response:
    body:
      string: '{"data":[{"timestamp":"2020-04-09T04:13:15.356Z","score":88.0,"sensors":[{"comp":"temp","value":24.420000076293945},{"comp":"humid","value":47.86000061035156},{"comp":"co2","value":783.0},{"comp":"voc","value":525.0},{"comp":"dust","value":13.699999809265137}],"indices":[{"comp":"temp","value":0.0},{"comp":"humid","value":0.0},{"comp":"co2","value":0.0},{"comp":"voc","value":1.0},{"comp":"dust","value":1.0}]},{"timestamp":"2020-04-09T04:13:05.715Z","score":88.0,"sensors":[{"comp":"temp","value":24.450000762939453},{"comp":"humid","value":47.86000061035156},{"comp":"co2","value":782.0},{"comp":"voc","value":525.0},{"comp":"dust","value":13.699999809265137}],"indices":[{"comp":"temp","value":0.0},{"comp":"humid","value":0.0},{"comp":"co2","value":0.0},{"comp":"vo[...]
