interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: POST
    uri: https://developer-apis.awair.is/graphql
  response:
    body:
      string: '{"data":{"AirDataRaw":{"airDataSeq":[{"timestamp":"2020-04-08T22:59:29.884Z","score":84.0,"sensors":[{"component":"TEMP","value":24.75},{"component":"HUMID","value":47.75},{"component":"CO2","value":918.0},{"component":"VOC","value":755.0},{"component":"DUST","value":14.800000190734863}],"indices":[{"component":"TEMP","value":0.0},{"component":"HUMID","value":0.0},{"component":"CO2","value":0.0},{"component":"VOC","value":1.0},{"component":"DUST","value":1.0}]},{"timestamp":"2020-04-08T22:59:39.523Z","score":84.0,"sensors":[{"component":"TEMP","value":24.719999313354492},{"component":"HUMID","value":47.83000183105469},{"component":"CO2","value":919.0},{"component":"VOC","value":756.0},{"component":"DUST","value":15.199999809265137}],"indices":[{"component":"TEMP","value":0.0},{"component"[...]
