interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      authorization:
      - fake_token
    method: POST
    uri: https://developer-apis.awair.is/graphql
  response:
    body:
      string: '{"data":{"User":{"id":"32406","email":"foo@bar.com","name":{"firstName":"Andrew","lastName":"Hayworth"},"dob":{"year":2020,"month":4,"day":8},"sex":"MALE","tier":"Large_developer","permissions":[{"scope":"USER_DEVICE_LIST","quota":2147483647},[...]
{"scope":"GET_TIMEZONE","quota":30000}],"usage":[{"scope":"USER_INFO","counts":10}]}}}'
    headers:
      Content-Type: application/json
    status:
      code: 200
      message: OK
    url: https://developer-apis.awair.is/graphql
version: 1
